@headerBackground: #516b58;
@footerBackground: #828282;

.Main-header {
  text-align: center;
  font-family: verdana, serif;
  background-color: @headerBackground;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Main-footer {
  text-align: center;
  font-family: verdana, serif;
  background-color: @footerBackground;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Divider {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.Main-row {
  padding-top: 20px;
  padding-bottom: 20px;
}