@imageBackground: #b9bcbd;
@mainTextColor: #8c8c8c;
.Town {
  text-align: center;
}

.Town-image {
  background-color: @imageBackground;
}

.Town-title {
  text-align: center;
}

.Town-body {
  text-align: center;
}

.Town-main-data {
  color: @mainTextColor;
  font-family: Apple, serif;
  font-size: x-large;
}

.Town-main-label {

}